body {
  background: #2C2141;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background: #F8F8F8;
  border-radius: 1em;
  padding: 2em;
  flex-basis: 38.5em;
}

.card__content {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.card__description {
  line-height: 1.375em;
  margin: 0;
}

.card__info {
  flex-basis: 23.75em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.card__link {
  color: #E20613;
  text-decoration: none;
}

.card__name {
  font-size: 2.25em;
  font-weight: 400;
  margin: 0;
}

.card__position {
  margin: 0;
  font-style: italic;
  font-size: 1.125em;
  color: #545454;
}

.special {
  color: #ED6D05;
}
